/*------NAV BAR------*/
/*LIST*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.nav li {
    float: left;
}

/*The text inside the navbar, including the dropdown list item*/
.nav li a, .dropTitle {
    display: inline-block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    text-decoration:none;
}
/*.nav li a got a block, now the dropdown list item gets it*/
.nav li.dropdown {
    display: inline-block;
}


/*The navbar text when hovered, including the dropdown list item*/
.nav li a:hover, .dropdown:hover .dropTitle {
    color: black;
    background-color: white;
}

/*The dropdown menu is not displayed, and is located directly below its drop list item.*/
.dropMenu {
    display:none;
    position:absolute;
    background-color: black;
    color: pink;
    min-width: 150px;
    z-index: 1;
} /*displays dropdown menu */
.dropdown:hover div.dropMenu {
    display: block;
}   

.nav li a.on, .nav li .dropmenu a.on {
    text-decoration:dashed;
    color: #4fa4b8;
}

/*dropdown items get the same treatment as ul li a*/
div.dropdown-menu a {
    color: white;
    background-color: black;
    padding: 20px;
    text-decoration: none;
    display:block;
}

div.dropdown-menu a:hover {
    background-color: white;
    color: black;
}




/*SNAKE GAME CANVAS*/
canvas {
    display: block;
    margin: auto;
    background-color: #f0f0f0;
}

/*COLORS*/
body {
    background-color: #1b1f21;
    margin: 0;
}
h1 {
    text-align: center;
    font-weight: 600;
    color: #3a3f5e;
}
h2 {
    text-indent:70px;
    font-weight: 500;
    color: #3a3f5e
} 
img {
    height: 337px;
}
ul {
    color: #4c6885;
}
p {
    color: #4fa4b8;
}