li.nav {
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

li.nav a {
    display: block;
    padding: 20px;
    height: 20px;
    text-align: center;
    text-decoration:line-through;
}

li.nav a.on {
    text-decoration:none;
}

li.nav a:hover {
    background-color:white;
    color: black;
    text-decoration:none;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    z-index: 100;
}

body {
    background-color: #1b1f21;
    margin: 0;
}

canvas {
    display: block;
    margin: auto;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    font-weight: 600;
    color: #3a3f5e;
}

h2 {
    text-indent:70px;
    font-weight: 500;
    color: #3a3f5e
}

img {
    height: 320px;
}

ul {
    color: #4c6885;
}
p {
    color: #4fa4b8;
}