/*@font-face {
  font-family: 'blackchancery';
  src: url('Fonts/SansationLight/SansationLight.eot');
  src: url('Fonts/SansationLight/SansationLight.eot?#iefix') format('embedded-opentype'),
       url('Fonts/SansationLight/SansationLight.woff') format('woff'),
       url('Fonts/SansationLight/SansationLight.ttf') format('truetype'),
       url('Fonts/SansationLight/SansationLight.svg#SansationLight') format('svg');
  font-weight: normal;
  font-style: normal;


  Was gonna do this. Will see if it leads anywhere.
}*/

ul.nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
  z-index: 10;
}

.nav li {
  float: left;
}

#on {
    color:black;
    background-color: #4fa4b8;
}

/*The text in the navbar and dropdown*/
.nav li a, .dropTitle, .dropContainer a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.nav a:hover, .dropdown:hover .dropTitle {
  background-color: #4fa4b8;
  color: black;
}

.nav li.dropLI {
  display: inline-block;
}

.dropContainer {
  display: none;
  position: fixed;
  background-color: black;
  min-width: 160px;
  z-index: 100;
}

.dropContainer a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropContainer a:hover {background-color: #f1f1f1;}

.dropLI:hover .dropContainer {
  display: block;
}

/* HOVER BOXES*/

.dropboxparent {
  text-decoration: none;
}

.dropbox {
  position:fixed;
  width: 300px;
  transform:translate(0, -40px);
  font-size: 20px;
  font-weight: bold;
  background-color: whitesmoke;
  display:none;
  border-radius: 15px;
}

.dropboxparent:hover .dropbox {
  display: block;
  font-size: 15px;
}



/*SNAKE GAME CANVAS*/
canvas {
    display: block;
    margin: auto;
    background-color: #f0f0f0;
}

/*Container preventing title being overlapped by navbar*/
div.main {
    margin-top: 80px;
}

/*BASICS*/
body {
    background-color: #1b1f21;
    margin: 0;
}
.highlight {
  color:#92e8c0;
}
a {
    text-decoration:none;
    color: #92e8c0;
}
h1 {
    text-align: center;
    font-weight: 600;
    color: #4c6885;
}
h2 {
    text-indent: 70px;
    font-weight: 500;
    color: #4c6885;
} 
img.background {
  z-index: -1;
  width: 100%;
}
ul {
    color: #4c6885;
}
p {
    color: #4fa4b8;
}
.rightdiv {
  position: relative;
  width: 70%;
  left: 30%;
  z-index: 5;
  background-color: whitesmoke;
}

/* 3 bilder: Två som omsluter en tredje, som har rundade kanter */

.triplecont {
  position:relative;
  width:100%;
  height:500px;
}
.triplecont img.lr {
  width:49.5%;
}

.triplecont div {
  position:absolute;
  background-color:#38444d;
  z-index: 100;
  left:50%;
  border-radius: 50%;
}
.triplecont div img {
  width: 90%;
  height:90%;
  position:absolute;
  left: 5%;
}


/* FOTBOLLSPLANEN


Den här klassen innehåller bilden på fortbollsplanen samt alla
div:ar som är spelare. Div.
*/
.field-wrapper {
  position: sticky;
  width: 55%;
  z-index: 1;
  height: auto;
  top: 60px;
}
/*
  Den här klassen sätter storleken på bilden av fotbollsplanen. Bild.
*/
.football-field {
  width: 100%;
  height: auto;
}
/*
  Den här klassen beskriver hur spelare ser ut, men positionerar dem inte.
*/
.player {
  position: absolute;
  width: 40px;
  line-height: 40px;
  border-radius: 30%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  /*font-family: blackchancery;*/
  background-color: whitesmoke;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.player:hover {
  z-index: 10;
}

/* Individuell placering av spelarna */
.goalie {
  top: 50%;
  left: 5%;
}
.defender {
  left: 20%;
}
.offense {
  left: 40%;
}
.mright {
  bottom: 30%;
}
.mleft {
  top: 35%;
}
.right-wing {
  bottom: 8%;
}
.left-wing {
  top: 13%;
}