li.nav {
    float: left;
}

li.nav a {
    display: block;
    width: 50px;
    background-color: #000;
    color: #e41e74;
}
li.nav a:hover {
    background-color:#e41e74;
    color: #000;
}

body {
    background-color: lightcyan;
}

h1 {
    text-align: center;
    font-weight: 600;
}

h2 {
    text-indent:70px;
    font-weight: 500;
}

.Machine {
    color: steelblue;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.5);
}

img {
    height: 320px;
}